<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Download</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Detecção de Fraudes</h1>
    </header>
    <nav>
        <ul>
            <li><a href="">Dash</a></li>
            <li><a href="form">form</a></li>
            <li><a href="model">Model</a></li>
        </ul>
    </nav>
    <main>
        <h1>Download do modelo</h1>
        <img src="/notebooks\img\326280389-ced5f9b2-4664-47d7-8b3c-b297f90d0f90.png" alt="Imagem de Download" style="margin:auto;display:block;max-width:1080px;height:500px; padding-top: 15px;">
        <br>
        <a href="../notebooks/model/fraud_detection_clf.sav" download>
            <button>Baixar Arquivo</button>
    </main>
</body>
</html>